@use 'global' as *;

/* ページャー */

.c-page-link {
  color: $black;
  margin-top: rem(40);
}

.c-page-link__flex {
  display: flex;
  align-items: center;
  padding: rem(15) 0;
  border-top: 1px solid $green;
  // border-bottom: 1px solid #B8AED5;
  border-bottom: 1px solid $green;
}

.c-page-link__prev,
.c-page-link__next {
  padding: 0 rem(20);
  width: 50%;
  position: relative;
  font-size: rem(12);
  line-height: calc(22 / 14);

  @include mq(md) {
    font-size: rem(14);
  }
}

.c-page-link__prev {
  margin-right: auto;
}

.c-page-link__prev::after {
  content: "";
  width: 1px;
  height: 100%;
  background-color: $green;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;

}

.c-page-link__next {
  margin-left: auto;

}

.c-page-link a:hover {
  opacity: 0.3;
}

.c-page-link__archive {
  margin-top: rem(60);
  text-align: center;
  font-size: rem(14);
}