@use 'global' as *;

/* 下層・h3ヘッダー */
.p-section-header-h3 {
    color: $black;
}

.p-section-header-h3__title {
    font-size: rem(18);
    line-height: 1.2;
    letter-spacing: 0.01em;
    font-weight: $bold;
    position: relative;

    padding-left: rem(12);

    @include mq(md) {
        font-size: rem(22);
        padding-left: rem(14);
    }
}

.p-section-header-h3__title::before {
    /* 太さ6pxの縦棒*/
    width: rem(2);
    /* 縦棒の左端は、インナーのラインにくっつく */
    left: 0;
    /* つまり、縦棒と文字間は、10pxってこと */

    content: "";
    position: absolute;
    height: 100%;
    border-radius: rem(1);
    background-color: green;
}