@use 'global' as *;

.sp-nav {
    display: none;
    position: absolute;
    top: 0;
    /* left:0、right:0で要素が浮く */
    left: 0;
    right: 0;

    width: 100%;
    height: 100vh;
    background-color: #00241c;
    // background: transparent linear-gradient(90deg, #00241c 0%, $green 100%) 0% 0% no-repeat padding-box;

    /* １でも表示はされそう！？ */
    z-index: 1;
}

.sp-nav.is-active {
    display: block;
}

.sp-nav__items {
    /* 縦方向のセンタリング */
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: rem(100) 0;
    min-height: 100vh;
}

.sp-nav__item {
    width: 100%;
}

.sp-nav__item a {
    color: $white;
    text-align: center;
    /* text-align:centerでは、インライン要素なのでセンターにならない。
    ブロック要素にすることで、幅いっぱいになってセンターに。 */
    display: block;

    /* クリック領域を広げる */
    padding: rem(15) 0;

    font-size: rem(15);
    // font-weight: $bold;
    line-height: 1;
    letter-spacing: 0.05;
}

.sp-nav__item a:hover {
    opacity: 0.3;
    transition: all 0.3s ease;
}